#!/bin/bash

set -e

if [ x"$1" = x"start.sh" ]; then
    cat /start.sh
    exit 0
fi

if ! [ -f ~buildslave/buildslave/buildbot.tac ]; then
    # Connect to silent master.
    # Reconnecting to main master should be done by hand.
    sudo -i -u buildslave buildslave create-slave --umask=022 ~buildslave/buildslave "$@"
fi

case "$2" in
    *-libcxx*|*-lld|*-arm-quick|*-arm-full|*-arm-full-selfhost)
	# Libcxx and LLD bots need to be compiled with clang.
	# Some of AArch32 bots need clang as well.
	# We override cc and c++ in /usr/local/bin to achieve this.
	# ??? Adding testStage1=False to LLD bot might enable it to not depend on clang.
	# ??? *-arm-full-selfhost bot doesn't look like it depends on clang.
	# ??? For now we preserve host compiler configuration from non-docker bots.
	cc=clang
	cxx=clang++
	;;
    *)
	cc=gcc
	cxx=g++
	;;
esac

# With default PATH /usr/local/bin/cc and /usr/local/bin/c++ are detected as
# system compilers.  No danger in ccaching results of system compiler since
# we always start with a clean cache in a new container.
cat > /usr/local/bin/cc <<EOF
#!/bin/sh
exec ccache $cc "\$@"
EOF
chmod +x /usr/local/bin/cc
cat > /usr/local/bin/c++ <<EOF
#!/bin/sh
exec ccache $cxx "\$@"
EOF
chmod +x /usr/local/bin/c++

case "$2" in
    *-lld)
	# LLD buildbot needs to find ld.lld for stage1 build.
	ln -f -s /usr/bin/ld.bfd /usr/local/bin/ld.lld
	;;
    *)
	rm -f /usr/local/bin/ld.lld
	;;
esac

case "$2" in
    linaro-armv8-*)
	# Use memory-throttling ninja.
	# When running with "-m 50 -M 50" ninja will not start new jobs if
	# system or container memory utilization is beyond 50%.
	cat > /usr/local/bin/ninja <<EOF
#!/bin/sh
exec /usr/local/bin/ninja.bin -m 50 -M 50 -D 5000 "\$@"
EOF
	chmod +x /usr/local/bin/ninja
	;;
    *)
	cat > /usr/local/bin/ninja <<EOF
#!/bin/sh
exec /usr/bin/ninja "\$@"
EOF
	chmod +x /usr/local/bin/ninja
	;;
esac

cat <<EOF | sudo -i -u buildslave tee ~buildslave/buildslave/info/admin
Maxim Kuvyrkov <maxim.kuvyrkov@linaro.org>
EOF
case "$2" in
    linaro-apm-*) hw="APM XGene 1" ;;
    linaro-armv8-*) hw="64-core Cortex-A72" ;;
    linaro-tk1-*) hw="NVIDIA TK1" ;;
esac
cat <<EOF | sudo -i -u buildslave tee ~buildslave/buildslave/info/host
$hw $(($(cat /sys/fs/cgroup/memory/memory.limit_in_bytes) / (1024*1024*1024)))GB

OS: $(lsb_release -ds)
Kernel: $(uname -rv)
Compiler: $(cc --version | head -n 1)
Linker: $(ld --version | head -n 1)
C Library: $(ldd --version | head -n 1)
EOF

sudo -i -u buildslave buildslave start ~buildslave/buildslave

exec /usr/sbin/sshd -D
